{% extends 'base.html' %}
{% block title %}My Blog {% endblock %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <h4>সদস্য ভর্তি ফর্ম</h4>
        <div class="row">
            <div class="intro-main col-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut facere maiores quidem saepe. Asperiores autem consectetur dolorum illum nesciunt nisi nobis perspiciatis quaerat quam, quos sed temporibus veritatis. Nesciunt.</p>
                <div class="register-form mt-5">
                    <form action="" method="POST">
                        {% csrf_token %}

                        {% comment %} <p>First Name: {{user.first_name}}</p> {% endcomment %}
                        {% comment %} <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" class="form-control">
                        </div> {% endcomment %}


                        <div class="form-group row">
                            <div class="col">
                                <label for="id_first_name">First Name</label>
                                <input type="text" id="id_first_name" name="first_name" class="form-control">
                            </div>
                            <div class="col">
                                <label for="id_last_name">Last Name</label>
                                <input type="text" id="id_last_name" name="last_name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <label for="id_passport">Passport</label>
                                <input type="text" id="id_passport" name="passport" class="form-control">
                            </div>
                            <div class="col">
                                <label for="id_date_of_birth">Date of Birth</label>
                                <input type="date" id="id_date_of_birth" name="date_of_birth" class="form-control">
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col">
                                <label for="id_city">City</label>
                                <input type="text" id="id_city" name="city" class="form-control">
                            </div>
                            <div class="col">
                                <label for="id_country">Country</label>
                                <input type="text" id="id_country" name="country" class="form-control">
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col">
                                <label for="id_country">Member Type</label> <br>
                                <div class="d-flex justify-content-end">
                                    <select class="form-select form-select" name="member_type" id="id_member_type">
                                        <option value="g">General Member</option>
                                        <option value="l">Lifetime Member</option>
                                        <option value="s">Super Admin</option>
                                        <option value="a">Admin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <label for="id_username">Username</label>
                                <input type="text" id="id_username" name="username" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col">
                                <label for="id_password1">Password</label>
                                <input type="password" id="id_password1" name="password1" class="form-control">
                            </div>
                            <div class="col">
                                <label for="id_password2">Confirm Password</label>
                                <input type="password" id="id_password2" name="password2" class="form-control">
                            </div>
                        </div>

                        {% comment %} <br> {% endcomment %}
<!--                        {{ form.as_p }}-->
                        <div class="d-flex justify-content-end">
                            <button class="btn bg-navy-blue text-white btn-lg" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="intro-right col-3">
                <h6>Bruchurms</h6>
                <div class="member-login">
                    <!-- login -->
                    {% include "snippets/member_login.html" %}
                </div>
                <div class="notice-board">
                    <!-- notice board -->
                    {% include "snippets/notice_board.html" %}
                </div>
                <div class="visitor-count">
                    <!-- visitor count -->
                    {% include "snippets/visitor_count.html" %}
                </div>
            </div>
        </div>

    </div>



{% endblock content %}