{% load static %}
	<footer>
		<div class="footer-top container-fluid">
			<div class="row">
				<div class="col-3">
					<h4>CONTACT DETAILS</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quia adipisci ea iure voluptatibus
						tenetur? Recusandae soluta nulla, laudantium perspiciatis, nemo, hic quasi earum nostrum
						voluptatum similique totam porro distinctio?</p>
				</div>

				<div class="col-3">
					<h4>IMPORTANT LINK</h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum blanditiis iste ea, atque aliquid
						cum quisquam non explicabo maxime quas, adipisci quaerat officiis sunt ducimus autem repellat
						ullam est accusamus?</p>
				</div>
				<div class="col-3">
					<h4>REGISTRATION</h4>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur accusamus molestiae esse
						commodi minima voluptatibus consequatur illo sed sequi sunt accusantium error optio, atque quasi
						exercitationem tempora sint nam porro.</p>
				</div>
				<div class="col-3">
					<h4>BANK DETAILS</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, voluptatem illo. Repellendus autem
						in tempora soluta quaerat, ullam natus numquam facilis reprehenderit officiis eaque iste
						suscipit impedit excepturi ipsum illum!</p>
				</div>
			</div>
		</div>
		<div class="footer-center">
			<div class="top-menu d-flex flex-row justify-content-between">
				<!-- Top Menu Left Side  -->
				<div class="top-menu-left pl-2">
					<ul class="d-flex flex-row">
						<li><a href="#">হোম</a></li>
						<li><a href="#">পরিচিতি</a></li>
						<li><a href="#">সদস্য ভর্তি ফর্ম</a></li>
						<li><a href="#">সদস্যের তথ্যাবলি</a></li>
						<li><a href="#">সাধারন সদস্য</a></li>
						<li><a href="#">যোগাযোগ</a></li>
						<li><a href="#">জন্ম তারিখ</a></li>
						<li><a href="#">ওয়েব মেইল</a></li>
						<li><a href="#">ওয়েব এসএমএস</a></li>
					</ul>

				</div>
				<!-- /Top Menu Left Side  -->
				<!-- Top Menu Right Side  -->
				<div class="top-menu-right d-flex flex-row pr-2">
					<ul class="d-flex flex-row justify-content-between">
						<li><a href="#">icon1</a></li>
						<li><a href="#">icon2</a></li>
						<li><a href="#">icon3</a></li>
						<li><a href="#">icon4</a></li>
					</ul>
				</div>
				<!-- /Top Menu Right Side  -->
			</div>
		</div>


		<div class="footer-bottom">
			<div class="top-menu d-flex flex-row justify-content-between">
				<!-- Top Menu Left Side  -->
				<div class="top-menu-left pl-2">
					<ul class="d-flex flex-row">
						<li><a href="#">হোম</a></li>
						<li><a href="#">পরিচিতি</a></li>
						<li><a href="#">সদস্য ভর্তি ফর্ম</a></li>
					</ul>

				</div>
				<!-- /Top Menu Left Side  -->
				<!-- Top Menu Right Side  -->
				<div class="top-menu-right d-flex flex-row pr-2">
					<ul class="d-flex flex-row justify-content-between">
						<li><a href="#">icon1</a></li>
						<li><a href="#">icon2</a></li>
					</ul>
				</div>
				<!-- /Top Menu Right Side  -->
			</div>
		</div>
	</footer>
